# Когда запускаем
    # ручной запуск
    # описываем джобы
    # среди всех свободных раннеров выбери ту, где убунту посл версии
        
name: E2E

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Установка Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Установка пакетов
        run: npm i

      - name: Установка браузеров
        run: npx playwright install --with-deps

      - name: Запуск тестов
        run: npm test

