# Когда запускаем
    # ручной запуск
    # описываем джобы
    # среди всех свободных раннеров выбери ту, где убунту посл версии
        
name: E2E

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Установка Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Установка пакетов
        run: npm i

      - name: Установка браузеров
        run: npx playwright install --with-deps

      - name: Запуск тестов
        run: npm t

      - name: Запускаем генерацию allure в одном файле
        run: npm run allureFile 
        if: always()   
        continue-on-error: false 

      #сохраняем результаты  
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
            name: playwright-report
            path: playwright-report/
            retention-days: 30

